.institucional{
    background-color: var(--bg-diferenciais);
    padding-top: 1.9rem;
    padding-bottom: 1.25rem;
}

.institucional__titulo{
    color: var(--cinza-escuro);
    font-size: 1.5rem;
    text-align: center;
}

.institucional__texto{
    text-align: center;
    padding: 2rem;
    color: var(--fonte-cinza);
}

.institucional__endereco{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2rem;
    color: var(--fonte-cinza)
}

.institucional__telefone{
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 2rem;
    color: var(--fonte-cinza)
}

.institucional__email{
    color: var(--fonte-link);
}

.institucional__video{
    padding-top: 0.625rem;
    width: 100%;
    max-width: 676px;
    display: block;
    margin: auto;
}

@media (min-width: 1024px){

    .institucional__conteudo{
        display: flex;
        justify-content: space-between;
        padding: 2rem 2.625rem 0;
        align-items: flex-start;
    }

    .institucional__texto, .institucional__endereco, .institucional__telefone{
        text-align: start;
        padding: 0 0 4rem;
    }

    .institucional__video{
        max-width: 375px;
        margin: 0;
    }

}