.rodape{
    background-color: var(--bg-rodape);
    color: var(--branco);
    padding: 2.625rem 0;
}

.rodape__logo{
    display: block;
    margin: auto;
    padding-bottom: 1.5rem;
}

.rodape__redes{
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 50%;
    margin: auto;
}

.rodape__navbar{
    text-align: center;
}

.rodape__links{

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}

@media (min-width: 1024px){

    .rodape__container{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .rodape__logo{
        margin: 0 0 0 2.625rem;
    }

    .rodape__redes{
        width:min-content;
        margin: 0 2.625rem 0 0;
    }

    .rodape__navbar{
        text-align: start;
        margin-left: 2.625rem;
    }

}
