.sobre{
    background-color: var(--bg-diferenciais);
    padding-bottom: 3rem;
}

.sobre__titulo{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    color: var(--cinza-escuro);
}

.sobre__texto{
    padding: 0 2.75rem 1rem 1.5rem;
}

.sobre__destaque{
    font-weight: 700;
}

.sobre__plataformas{
    display: flex;
    justify-content: space-around;
    margin: 0 3.4rem 1rem;
}

.sobre__imagem{
    display: none;
}

@media (min-width:1024px){
    .sobre{
        display: flex;
    }

    .sobre__container{
        padding-left: 2.625rem;
    }

    .sobre__titulo{
        margin-top: 2.5rem;
        text-align: start;
    }

    .sobre__texto{
        padding: 0 0 1rem 0;
    }

    .sobre__plataformas{
        border-top: 1px solid var(--cinza-medio);
        padding: 1rem;
        justify-content: center;
        gap: 75px;
    }

    .sobre__imagem{
        display: block;
    }
}